html {
  font-size: 10px;
  font-family: "Roboto Mono";
  background-color: #000000;
}

h1 {
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: #FF7119;
  text-shadow: 2px 2px 1px white

}

li {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: white;
}

p {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  color: #FF7119
}

body {
  width: 1350px;
  margin: 0 auto;
  background-color: #000000;
  padding: 0 100px 100px 100px;
  border: 5px solid red;
}

img {
  display: block;
  margin: 0 auto;
}
